:root {
    /* Light mode variables */
    --background-color: #FAF4E8;
    --text-color: #00383D;
    --link-color: #F1DA63;
    --header-background: #00383D;
    --header-text-color: #FAF4E8;
    --highlight-color: #FE763A;
    --text-highlight:#F1DA63; 

    /* Dark mode variables */
    --dark-background-color: #1E1E1E;
    --dark-text-color: #FFFFFF;
    --dark-link-color: #FFD700;
    --dark-header-background: #121212;
    --dark-header-text-color: #FFFFFF;
    --dark-highlight-color: #FF5722;
    --dark-text-highlight: #121212; 
}

body{
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 16px;
}

/* style nav bar */
nav{
    background-color: var(--header-background);
    padding: 20px;
    margin: -20px -20px -20px -20px;
}

nav ul{
    list-style-type: none;
}

/* style nav bar text */
ul li a {
    text-decoration: none; 
    display: block; 
    color: var(--link-color);
    padding: 5px;
    font-weight: bold;
}

/* style meets bullets in the index page */
#meets ul li a{
    color:var(--text-color);
    text-decoration: underline;
}

/* for all when focus draw an orange box around it */
:focus{
    border: 2px solid #FE763A;
}

/* focus on skip to main content only when you tab into it else don't show */
.skip{
    position: absolute;
    top: -500px;
}
  
.skip:focus{
    position: absolute;
    top:10px;
    right: 20px;
    color: #F1DA63;
}

/* Style header */
header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 20px;;
    margin: 10px -20px;  /* Override left margin */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* making sure it sticks to top of page */
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    text-decoration: none; /* Remove underline from links */
    color: inherit;
}

h1{
    color: var(--highlight-color);
    font-size: 40px;
}

header h2{
    font-size: 30px;
}

section{
    padding-top: 30px;
    padding-bottom: 40px;
}

p {
    color: var(--text-color);
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in */
    }
}
section h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text-color);
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Slide section headers pulse */
@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Original size and position */
    }
    50% {
        transform: scale(1.08); /* Scale up and move to the right */
    }
}

/* style the results section */
#team-results{
    background-color: var(--highlight-color);
    margin: 20px -20px;
    padding: 30px 20px;
}

/* make the result table scrollable so that it 
doesn't take up a lot of space */
.results_table{
    width: 100%;
    height: 400px; 
    overflow-y: auto;
    border-radius: 30px;
}

/* style header of results table */
.results_table thead th {
    text-align: left;
    padding: 15px 25px;
    background-color:var(--header-background);
    color:var(--link-color);
    font-weight: bold;
}

tr:focus{
    border: 2px solid var(--text-color);
}

td{
    padding: 15px 25px;
    color: #00383D;
}

/* styling alternating rows in the index page */
#meets li:nth-child(odd) {
    background-color: var(--text-highlight);
}

/* styling alternating rows */
tr:nth-child(odd){
    background-color: var(--link-color);
}
tr:nth-child(even){
    background-color: var(--header-text-color);
}


table{
    width: 100vw;
    border-collapse: collapse;
    overflow: hidden; /* make sure the border radius would show */
}

/* style each athletes stats */
div {
    width: 70vw;
    background-color:var(--header-background);
    color: var(--header-text-color);
    display: inline-grid;
    border: solid 2px var(--text-color);
    border-radius: 20px;
    gap: 20px;
    margin: 10px auto;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

div:hover{
    opacity: 1;
}

/* style footer */
footer{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--header-background);
    color:var(--header-text-color);
    margin: -20px -20px;
    padding: 50px 20px;
}

footer p{
    color:var(--highlight-color);
    font-size: 16px;
}

footer a{
    color: var(--highlight-color);
    text-decoration: none;
}

/* style atheete results section */
#individual-results {
    display: grid;
    grid-template-columns: 95vw; /*one column to optimize for mobile*/
    justify-content: space-around;
    perspective: 600;
}


.athlete figure {
    cursor: pointer; /* Indicate it can be interacted with */
    outline: none; /* Remove default outline */
}

.athlete dl {
    display: none; /* Hide the details by default */
    transition: all 0.3s linear; /* Smooth transition */
}

figcaption {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
}

/* style image */
figure img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    margin: auto;
}


/* style flashcard so stats info show when hover */
.athlete:hover dl,
.athlete:focus-within dl {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    padding: 0px 10px 10px 10px;
}

dt {
    font-weight: bold;
    color:var(--highlight-color);
    display: inline;
}


/* style gallery grid*/
#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
}

/* style gallery image*/
#gallery img{
    border-radius: 20px;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

/* increase opacity of image when it is hover */
#gallery img:hover{
    opacity: 1;
    transform: scale(1.1); /* Zoom in by 10% */
}

/* reduce animations for preferred users */
@media screen and (prefers-reduced-motion: reduce) {
    /* Disable animations */
    p {
        opacity: 1; /* make text visible */
        animation: none; /* Disable fade-in animation */
    }

    section h2 {
        animation-name: none; /* Disable pulse animation */
    }

    /* Disable hover effects */
    div {
        transition: none; /* Disable transition on hover */
        opacity: 1; /* Keep full opacity */
    }

    .athlete dl {
        display: grid; /* Set display to grid */
        grid-template-columns: auto auto; /* Define grid columns */
        row-gap: 10px; /* Add some spacing between rows */
        opacity: 1; /* Ensure it's fully visible */
        transition: none; /* Disable transition for showing */
    }

    .athlete:hover dl,
    .athlete:focus-within dl {
        display: grid; /* Do not show details on hover */
    }

    #gallery img {
        transition: none; /* Disable transition on hover */
        opacity: 1; /* Keep full opacity */
        animation-name: none;
    }
}

.dark-mode {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --header-background: var(--dark-header-background);
    --header-text-color: var(--dark-header-text-color);
    --highlight-color: var(--dark-highlight-color);
    --text-highlight: var(--dark-text-highlight);
}


